div.input-group > div.input-group-btn > div.btn-file{
	height: 34px;
	width: 110px;
}

div.input-group > div.input-group-btn > div.btn-file > i.glyphicon-folder-open{
	float: left;
	width: auto;
	margin-right: 10px;
}

div.input-group > div.input-group-btn > div.btn-file > span{
	float: left;
	width: auto;
}